{% extends 'core/base.html' %}

{% load static %}

{% block title %}Images - Hurun Nurseries{% endblock %}

{% block content %}
<!-- Content Section -->
<div class="container mt-4">
    <h1 class="text-center">Images</h1>

    <div class="categories mt-3 mb-4 sticky-categories">
        <h3>Categories:</h3>
        <ul class="list-group list-group-horizontal overflow-auto">
            {% for category in categories %}
                <li class="list-group-item">
                    <a href="{% url 'core:image_list_by_category' category.id %}" class="text-decoration-none">
                        {{ category.name }}
                    </a>
                </li>
            {% endfor %}
            <li class="list-group-item">
                <a href="{% url 'core:image_list' %}" class="text-decoration-none">
                    All
                </a>
            </li>
        </ul>
    </div>
    

    
    <!-- Images Grid -->
    <div class="row mt-4">
        {% for image in images %}
        <div class="col-md-3 mb-4">
            <div class="card product-card">
                <img src="{{ image.image_file.url }}" class="card-img-top product-image" alt="{{ image.title }}">
                <div class="card-body">
                    <h5 class="card-title">{{ image.title }}</h5>
                    <p class="card-text">{{ image.description }}</p>
                </div>
            </div>
        </div>    
        {% empty %}
            <div class="fullscreen">
                <p class="text-center">No images available in this category.</p>
            </div>

        {% endfor %}
    </div>
</div>
{% endblock %}