{% extends 'admin_panel/base.html' %}

{% block title %}Manage Images - Hurun Nurseries{% endblock %}

{% block content %}
<div class="container">
    <h1 class="text-center my-5">Manage Images</h1>

    <!-- Row of cards with links -->
    <div class="row">
        <!-- Add Image Card -->
        <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
            <div class="card text-center shadow-sm manage-image-card">
                <div class="card-body">
                    <i class="fas fa-plus fa-3x card-icon"></i>
                    <h5 class="card-title mt-3">Add New Image</h5>
                    <a href="{% url 'admin_panel:add_image' %}" class="btn btn-primary mt-2">Add Image</a>
                </div>
            </div>
        </div>

        <!-- View Images Card -->
        <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
            <div class="card text-center shadow-sm manage-image-card">
                <div class="card-body">
                    <i class="fas fa-eye fa-3x card-icon"></i>
                    <h5 class="card-title mt-3">View Images</h5>
                    <a href="{% url 'admin_panel:view_images' %}" class="btn btn-info mt-2">View Images</a>
                </div>
            </div>
        </div>
        <!-- Total Images Card -->
        <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
            <div class="card text-center shadow-sm manage-image-card">
                <div class="card-body">
                    <i class="fas fa-image fa-3x card-icon"></i>
                    <h5 class="card-title mt-3">Total Images</h5>
                    <p class="mt-2">You have <strong>{{ total_images }}</strong> images.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}